

<div class="login">
  <div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 col-md-12">
            <div class="login-info">
                
                <div class="login-info-content">
                    <h2 class="login-title">تسجيل الدخول</h2>
                    <h5 class="logo-des">التسجيل ك</h5>
                    <div class="users-container d-flex align-items-center ">
                        <div class="user-box ">
                             <div class="user-contnt  d-flex align-items-center justify-content-center ">
                            <img src="assets/images/auth-assets/user1-icon.png" alt="user1-icon" >
                           </div>
                        <h5 class="user-title">لاعب</h5>
                        
                        </div>
                        <div class="user-box ">
                             <div class="user-contnt active d-flex align-items-center justify-content-center ">
                            <img src="assets/images/auth-assets/user1-icon.png" alt="user1-icon" >
                        </div>
                        <h5 class="user-title">لاعب</h5>
                        
                        </div>
                        <div class="user-box ">
                             <div class="user-contnt active d-flex align-items-center justify-content-center ">
                            <img src="assets/images/auth-assets/user1-icon.png" alt="user1-icon" >
                        </div>
                        <h5 class="user-title">لاعب</h5>
                        
                        </div>
                        <div class="user-box ">
                             <div class="user-contnt active d-flex align-items-center justify-content-center ">
                            <img src="assets/images/auth-assets/user1-icon.png" alt="user1-icon" >
                        </div>
                        <h5 class="user-title">لاعب</h5>
                        
                        </div>
                        <div class="user-box ">
                             <div class="user-contnt active d-flex align-items-center justify-content-center ">
                            <img src="assets/images/auth-assets/user1-icon.png" alt="user1-icon" >
                        </div>
                        <h5 class="user-title">لاعب</h5>
                        
                        </div>
                       
                        
                     
                    </div>
                    <form action="">
                        <div class="input-container">
                            <label class="d-block mb-1" for="email" class="input-label mb-2" > البريد الالكتروني</label>
                            <input type="email" id="email" class="email" placeholder="ادخل البريد الالكتروني">
                        </div>
                        <div class="input-container mt-2">
                            <label class="d-block mb-1" for="password" class="input-label mb-2" > كلمه المرور</label>
                            <input type="password" id="password" class="email" placeholder="ادخل  كلمه المرور">
                        </div>
                        <div class="input-container mt-2">
                            <label class="d-block mb-1" for="number" class="input-label mb-2" > رقم الهاتف</label>
                            <input type="number" id="number" class="email" placeholder="ادخل رقم الهاتف">
                        </div>
                        <div class=" mt-3">
                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="ms-2 p-3">
                            <label for="vehicle1"> الموافقه علي الشروط والاحكام</label><br>
                            
                        </div>
                        <div class="login-button-container ">
                            <button type="button" class="login-button mt-3">تسجيل الدخول
                                <img src="../../../../../assets/images/auth-assets/login-button.png" alt="">
                            </button>
                            <img src="../../../../../assets/images/auth-assets/Left-button.png" alt="" class="left-image">
                            <img src="../../../../../assets/images/auth-assets/Right.-button.png" alt="" class="Right-image">
                        </div>
                       
                    </form>
        
                    <div class="login-google-container">
                        تسجيل الدخول باستخدام
                    </div>
                    <div class="google-icons mt-3">
                        <img src="../../../../../assets/images/auth-assets/apple-173-svgrepo-com 1.png" alt="">
                        <img src="../../../../../assets/images/auth-assets/google-color-svgrepo-com 1.png" alt="" class="mx-3">
                        <img src="../../../../../assets/images/auth-assets/facebook-svgrepo-com 1.png" alt="">
                    </div>
        
        
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="left-panel-image">
                <div class="background-image"></div>
                <img class="corner-image"  src="../../../../../assets/images/auth-assets/corner.png" alt="corner.png" >
             <div class="overlay"></div>
            </div>
        </div>
    </div>
  
   
   
  
  </div>
</div>












